body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(245, 239, 244);
}

.container {
  max-width: 1400px;

  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero-img.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
  color: rgb(172, 155, 137);
  padding: 50px;
}

header h2 {
  padding-top: 30px;
  font-size: 35px;
  letter-spacing: 9px;
  padding-bottom: 30px;
}

header h1 {
  font-family: "Playwrite CU", cursive;
  font-size: 45px;
  line-height: 1.5;
  letter-spacing: 3px;
}
header .button {
  background-color: #2c2118;
  color: rgb(203, 183, 183);
  margin: 10px;
  padding: 16px 26px 16px 26px;
  border: 1px solid rgb(137, 88, 88);
  font-size: 30px;
  border-radius: 5px;
  letter-spacing: 7px;
  cursor: pointer;
  line-height: 1.5;
  text-decoration: none;
}
header .button:hover {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.7s;
}
section.primer {
  width: 100%;
  line-height: 1.5;
  margin: 0 auto;
  background-color: white;
  color: rgb(203, 183, 183);
  padding-left: 50px;
  padding-right: 50px;
}
.primer img {
  width: 60%;
  padding: 100px;
}
.text h3 {
  margin-top: 100px;
  padding-top: 40px;
  margin-right: 140px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 5px;
}
.text h2 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 5px;
}
.text p {
  margin-right: 100px;
}
.img-responsives {
  display: block;
  width: 150%;
}
section.secondary {
  width: 100%;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(246, 244, 246);
  color: rgb(203, 183, 183);
  padding-left: 50px;
  padding-right: 50px;
}

section.card {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.card-header.grid {
  grid-gap: 0;
  width: 100%;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-text h2 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-top: 20px;
  padding-top: 60px;
  text-align: center;
}
.card-main h3 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 3px;
  margin-top: 30px;
  text-align: center;
}

.card-main h4 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 3px;
  text-align: center;
}
.card-main p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  letter-spacing: 3px;
}
.card-footer .click {
  font-family: "Playwrite CU", cursive;
  background-color: rgb(230, 208, 241);
  color: black;
  opacity: 0.3;
  padding: 16px 36px 16px 36px;
  border: 1px solid rgb(137, 88, 88);
  font-size: 30px;
  border-radius: 17px;
  letter-spacing: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 1.5;
}
section .insta-media {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(246, 244, 246);
  color: rgb(203, 183, 183);
}

.grid {
  display: grid;
  grid-gap: 40px;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3-card {
  grid-template-columns: 1fr 1fr 1fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  color: rgb(238, 204, 204);
  padding: 50px;
  width: 100%;
}
.grid-col-3-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
footer li {
  list-style: none;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 1.5;
}
footer h3 {
  letter-spacing: 7px;
  display: block;
  text-align: center;
}

footer a,
p {
  color: rgb(153, 139, 120);
  font-size: 20px;
}
@media (max-width: 960px) {
  header h1 {
    margin-top: 10px;
    font-size: 20x;
  }
  header h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  section {
    padding: 10px;
  }
  .text h2,
  h3 {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .img-responsive {
    width: 100%;
    display: block;
  }
  .card-header {
    .img-responsives {
      display: none;
    }
    .card-footer .click {
      padding: 8px 16px 16px 8px;
      border: 1px solid rgb(137, 88, 88);
      font-size: 10px;
      border-radius: 17px;
      letter-spacing: 5px;
      cursor: pointer;
      margin-bottom: 0px;
      line-height: 1.5;
    }
  }
  footer li {
    text-align: center;
  }
  footer p {
    margin-left: 60px;
    margin-right: 36px;
  }
  footer a {
    margin-left: 80px;
  }
}
