.container {
  background-color: white;
  margin: 0 auto;
  max-width: 1400px;
}
.hero {
  max-width: 1400px;
  color: rgb(203, 183, 183);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/hero-img.jpg");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid rgb(140, 99, 99);
  padding: 100px;
  margin: 0 auto;
}

header h2 {
  padding-top: 160px;
  font-size: 35px;
  letter-spacing: 9px;
  padding-bottom: 30px;
}

header h1 {
  font-family: "Playwrite CU", cursive;
  font-size: 45px;
  line-height: 1.5;
  margin: 16px 32px;
  padding-bottom: 30px;
  letter-spacing: 3px;
}
header .button {
  background-color: #2c2118;
  color: rgb(203, 183, 183);
  margin: 20px;
  padding: 16px 26px 16px 26px;
  border: 1px solid rgb(137, 88, 88);
  font-size: 30px;
  border-radius: 5px;
  letter-spacing: 7px;
  cursor: pointer;
  line-height: 1.5;
}
header .button:hover {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  opacity: 0.7;
  transition: 0.7s;
}
.primer {
  max-width: 1400px;
  line-height: 1.5;
  margin: 30px;
  padding: 100px;

  background-color: rgb(246, 244, 246);
  color: rgb(203, 183, 183);
}
.primer img {
  width: 60%;
  margin-left: 10px;
  margin-top: 90px;
}
primer h3 {
  margin-top: 80px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 5px;
}
primer h2 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 5px;
}
.secondary {
  max-width: 1400px;
  line-height: 1.5;
  margin: 30px;
  padding: 80px;

  text-align: center;

  background-color: rgb(246, 244, 246);
  color: rgb(203, 183, 183);
}

.secondary .img-1 {
  padding-bottom: 30px;
}
.secondary h2 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-top: 0px;
  padding-bottom: 100px;
  text-align: center;
}
.secondary h3 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 3px;
  margin-top: 30px;
  text-align: center;
}

.secondary h4 {
  line-height: 1.5;
  color: black;
  opacity: 0.7;
  letter-spacing: 3px;

  text-align: center;
}
.secondary p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
.secondary .click {
  background-color: rgb(239, 218, 221);
  color: rgb(203, 183, 183);
  padding: 16px 36px 16px 36px;
  border: 1px solid rgb(137, 88, 88);
  font-size: 30px;
  border-radius: 17px;
  letter-spacing: 5px;
  cursor: pointer;
  margin-bottom: 0px;
  line-height: 1.5;
}

.card {
  background-color: white;
}
.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-col-3-card {
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  color: rgb(238, 204, 204);
  padding: 0px;
  max-width: 1400px;
}
.grid-col-3-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
footer li {
  list-style: none;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 1.5;
}
footer h3 {
  letter-spacing: 7px;
  display: block;
  text-align: center;
}

footer a,
p {
  color: rgb(153, 139, 120);
  font-size: 20px;
}
@media (max-width: 900px) {
  header h1 {
    margin-top: 10px;
    font-size: 20x;
  }
  header h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  header .button {
    display: none;
  }
  section {
    padding: 10px;
  }
  main h2,
  h3 {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .img-responsives {
    width: 100%;
    display: block;
  }
  footer li {
    text-align: center;
  }
  footer p {
    margin-left: 60px;
    margin-right: 36px;
  }
  footer a {
    margin-left: 80px;
  }
}
